/Aplicacion_de_Escritorio/Proyecto_Final_TBD/nbproject/private/
/Aplicacion_de_Escritorio/Proyecto_Final_TBD/build/
/Aplicacion_de_Escritorio/Proyecto_FinalSQLSERVER/target/
/Aplicacion_de_Escritorio/conexionTest/target/
